<style>
    .modal-content {
        background-color: #212121;
    }
</style>

<!-- more info modal -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1" aria-labelledby="Modal-MoreInfo-{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal-MoreInfo-{{ item.id }}">{{ item.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- item purchase modal -->
<div class="modal fade" id="Modal-ItemPurchase-{{ item.id }}" tabindex="-1" aria-labelledby="Modal-ItemPurchase-{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal-ItemPurchase-{{ item.id }}">{{ item.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ purchase_form.hidden_tag() }}
                    <input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.name }}">
                    <h4 class="text-center">Are you sure you want to buy {{ item.name }} for {{ item.price }}$?</h4>
                    <h6 class="text-center">By clicking Purchase, you will buy this item.</h6>
                    <div class="d-grid">
                        {{ purchase_form.submit(class="btn btn-primary") }}    
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Yes</button> -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- item selling modal -->
<div class="modal fade" id="Modal-ItemSell-{{ item.id }}" tabindex="-1" aria-labelledby="Modal-ItemSell-{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal-ItemSell-{{ item.id }}">{{ item.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ sell_form.hidden_tag() }}
                    <input id="sold_item" name="sold_item" type="hidden" value="{{ item.name }}">
                    <h4 class="text-center">Are you sure you want to sell {{ item.name }} for {{ item.price }}$?</h4>
                    <h6 class="text-center">By clicking Sell, you will sell this item.</h6>
                    <div class="d-grid">
                        {{ sell_form.submit(class="btn btn-primary") }}    
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary">Yes</button> -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
